* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #0f172a;
  color: #ffffff;
  min-height: 100vh;
}

/* Navbar */
nav {
  width: 100%;
  text-align: center;
  padding: 20px 0;
  font-size: 1.2rem;
  letter-spacing: 6px;
  font-weight: bold;
  color: #38bdf8;
}

/* Hero Section */
.hero {
  height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 20px;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.hero h2 {
  font-size: 1.4rem;
  font-weight: normal;
  color: #cbd5f5;
  margin-bottom: 30px;
}

.hero a {
  text-decoration: none;
  padding: 12px 28px;
  border-radius: 6px;
  border: 1px solid #38bdf8;
  color: #38bdf8;
  transition: 0.3s;
  font-size: 1rem;
}

.hero a:hover {
  background-color: #38bdf8;
  color: #0f172a;
}

/* Contact Section */
.contact {
  padding: 60px 20px;
  text-align: center;
  border-top: 1px solid #1e293b;
}

.contact h3 {
  font-size: 1.8rem;
  margin-bottom: 15px;
}

.contact p {
  font-size: 1.1rem;
  color: #cbd5f5;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 3%;
}

.logo {
  font-size: 1.2rem;
  letter-spacing: 6px;
  font-weight: bold;
  color: #38bdf8;
}

/* Navbar links */
.nav-links a {
  margin-left: 30px;
  text-decoration: none;
  font-size: 1rem;
  color: #cbd5f5;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #38bdf8;
}